<template>
  <div>
    <v-tabs>
      <v-tab :to="{ name: 'proposals' }">Proposals</v-tab>
      <v-tab :to="{ name: 'my-proposals' }">My proposals</v-tab>
    </v-tabs>
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
