<template>
  <div class="pt-4">
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog v-model="dialog" persistent width="600">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary" dark v-bind="attrs" v-on="on">
          New proposal
        </v-btn>
      </template>
      <v-proposal-form
        v-model="editProposal"
        @close="onFormClose"
        @input="onFormSave"
      ></v-proposal-form>
    </v-dialog>
    <v-row>
      <v-col
        class="wrapper"
        v-for="(proposal, i) in ownedProposals"
        cols="12"
        md="6"
        sm="4"
        lg="3"
        :key="i"
      >
        <v-proposal
          :id="proposal.id"
          :title="proposal.title"
          :author="proposal.owner.displayName"
          :createdAt="proposal.createdAt"
          editable
          @edit="onEdit"
          @delete="onDelete"
          >{{ proposal.description }}</v-proposal
        >
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import VProposal from '@/components/VProposal';
import VProposalForm from '@/components/VProposalForm';

export default {
  components: {
    VProposal,
    VProposalForm,
  },
  data() {
    return {
      loading: false,
      dialog: false,
      editProposal: {},
    };
  },
  computed: {
    ...mapGetters('proposals', ['proposals', 'proposalsByOwnerId']),
    ...mapGetters('user', ['externalId']),
    ownedProposals() {
      return this.proposalsByOwnerId(this.externalId);
    },
  },
  methods: {
    ...mapActions('proposals', [
      'fetchProposals',
      'createProposal',
      'patchProposal',
      'deleteProposal',
    ]),
    onFormClose() {
      this.editProposal = {};
      this.dialog = false;
    },
    async onFormSave({ id, title, description }) {
      this.loading = true;
      if (!id) {
        await this.createProposal({ title, description });
      } else {
        await this.patchProposal({ id, title, description });
        this.editProposal = {};
      }
      this.loading = false;
      this.dialog = false;
    },
    onEdit(id) {
      this.editProposal = this.proposals.find(proposal => proposal.id === id);
      this.dialog = true;
    },
    async onDelete(id) {
      this.loading = true;
      await this.deleteProposal(id);
      this.loading = false;
    },
  },
  async mounted() {
    if (!this.proposals) {
      this.loading = true;
      await this.fetchProposals();
      this.loading = false;
    }
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
</style>
