<template>
  <div class="pt-4">
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-row>
      <v-col
        class="wrapper"
        v-for="(proposal, i) in notOwnedproposals"
        cols="12"
        md="6"
        sm="4"
        lg="3"
        :key="i"
      >
        <v-proposal
          :id="proposal.id"
          :title="proposal.title"
          :author="proposal.owner.displayName"
          :createdAt="proposal.createdAt"
          :likes="proposal.likes"
          :isLiked="isProposalLiked(proposal.likes)"
          @like="likeProposal"
          @unlike="unlikeProposal"
          >{{ proposal.description }}</v-proposal
        >
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import VProposal from '@/components/VProposal';

export default {
  components: {
    VProposal,
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    ...mapGetters('proposals', ['proposals', 'proposalsNotOwnerId']),
    ...mapGetters('user', ['externalId']),
    notOwnedproposals() {
      console.log('this.externalId', this.externalId);
      return this.proposalsNotOwnerId(this.externalId);
    },
  },
  methods: {
    ...mapActions('proposals', [
      'fetchProposals',
      'fetchMyProposals',
      'likeProposal',
      'unlikeProposal',
    ]),
    isProposalLiked(likes) {
      return !!likes.find(like => like === this.externalId);
    },
  },
  async mounted() {
    if (!this.proposals) {
      this.loading = true;
      await this.fetchProposals();
    }
    this.loading = false;
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
</style>
