<template>
  <div id="dashboard">
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-app-bar app dark fixed class="header" color="primary">
      <v-header @logout="logout"></v-header>
    </v-app-bar>
    <v-nav-drawer></v-nav-drawer>
    <v-main v-if="!loading" class="main blue-grey lighten-5">
      <router-view></router-view>
    </v-main>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import VHeader from '@/components/VHeader';
import VNavDrawer from '@/components/VNavDrawer';
import { logoutRedirect } from '@/utils/okta';

export default {
  components: {
    VHeader,
    VNavDrawer,
  },
  data: function() {
    return {
      loading: true,
      authenticated: false,
    };
  },
  created() {
    this.setup();
  },
  methods: {
    ...mapMutations('auth', ['setToken']),
    ...mapMutations('user', ['setUser']),
    async setup() {
      const user = await this.$auth.getUser();
      await this.setUser(user);
      const accessToken = await this.$auth.getAccessToken();
      await this.setToken(accessToken);

      this.loading = false;
    },
    async isAuthenticated() {
      this.authenticated = this.$auth.isAuthenticated();
    },
    async logout() {
      const idToken = await this.$auth.getIdToken();
      await this.$auth.logout('/login');
      window.location.href = logoutRedirect(idToken);
    },
  },
};
</script>

<style lang="scss" scoped>
#dashboard {
  height: 100%;
}

.header {
  border-bottom: 2px solid;
}

.main {
  padding: 20px !important;
  height: 100%;
}
</style>
