<template>
  <v-footer data-testid="footer" height="80px">
    <div class="container wrapper">
      <div class="powered">
        Powered by <img src="@/assets/logo-srb.png" alt="logo" /> @2019
      </div>
      <div class="social">
        <v-icon>{{ mdiFacebook }}</v-icon>
        <v-icon>{{ mdiTwitter }}</v-icon>
        <v-icon>{{ mdiInstagram }}</v-icon>
      </div>
    </div>
  </v-footer>
</template>

<script>
import { mdiFacebook, mdiTwitter, mdiInstagram } from '@mdi/js';
export default {
  data: () => ({
    mdiFacebook,
    mdiTwitter,
    mdiInstagram,
  }),
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  @media (min-width: 1200px) {
    max-width: 960px;
  }

  .powered {
    max-height: 35px;
    display: flex;
    align-items: center;

    img {
      height: 100%;
    }
  }

  .social {
    .v-icon {
      margin: 0 5px;
    }
  }
}
</style>
