<template>
  <div class="nav">
    <v-divider dark></v-divider>
    <div :class="{ actions: true, from: from, to: to }">
      <template v-if="from">
        <v-btn v-if="from.path" color="primary" rounded :to="from.path">{{
          from.text
        }}</v-btn>
        <v-btn v-else color="primary" rounded @click="$emit('from-click')">{{
          from.text
        }}</v-btn>
      </template>
      <template v-if="to">
        <v-btn v-if="to.path" color="primary" rounded :to="to.path">{{
          to.text
        }}</v-btn>
        <v-btn v-else color="primary" rounded @click="$emit('to-click')">{{
          to.text
        }}</v-btn>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    from: {
      type: Object,
      default: null,
    },
    to: {
      type: Object,
      default: null,
    },
  },
};
</script>

<style lang="scss" scoped>
.nav {
  width: 100%;

  hr {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .actions {
    margin: 45px 0;
    display: flex;
    width: 100%;

    &.from {
      justify-content: flex-start;
    }

    &.to {
      justify-content: flex-end;
    }

    &.from.to {
      justify-content: space-between;
    }
  }
}
</style>
