<template>
  <nav class="nav">
    <v-btn icon @click="$emit('logout')">
      <v-icon>mdi-power-standby</v-icon>
    </v-btn>
  </nav>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
</style>
