<template>
  <v-navigation-drawer
    class="nav-drawer"
    app
    permanent
    fixed
    dark
    color="primary"
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="title">
          Olak
        </v-list-item-title>
        <v-list-item-subtitle class="hearth-text">
          made by <span class="hearth red--text">♥</span>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>
    <v-list nav dense>
      <v-nav-drawer-item
        v-for="(item, i) in navItems1"
        :key="`navItems1-${i}`"
        :icon="item.icon"
        :title="item.title"
        :to="item.to"
      ></v-nav-drawer-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import VNavDrawerItem from './VNavDrawerItem';

export default {
  components: {
    VNavDrawerItem,
  },
  data() {
    return {
      navItems1: [
        {
          icon: 'chart-bar',
          title: 'Dashboard',
          to: '/',
        },
        {
          icon: 'newspaper-variant-multiple',
          title: 'Proposals',
          to: '/proposals',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.hearth-text {
  display: flex;
  align-items: center;

  .hearth {
    font-size: 23px;
    margin-left: 5px;
  }
}
</style>
