<template>
  <v-card class="card" elevation="2">
    <v-card-title>{{ title }}</v-card-title>
    <v-card-subtitle>{{ author }} - {{ createdDateFormatted }}</v-card-subtitle>
    <v-card-text class="text"><slot></slot> </v-card-text>
    <v-card-actions class="actions">
      <div v-if="editable">
        <v-btn icon @click="$emit('delete', id)">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
        <v-btn icon @click="$emit('edit', id)">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </div>
      <div v-else>
        {{ likes.length }}
        <v-btn v-if="isLiked" icon @click="$emit('unlike', id)">
          <v-icon>mdi-thumb-up</v-icon>
        </v-btn>
        <v-btn v-else icon @click="$emit('like', id)">
          <v-icon>mdi-thumb-up-outline</v-icon>
        </v-btn>
      </div>
    </v-card-actions>
  </v-card>
</template>

<script>
import { format } from 'date-fns';

export default {
  props: {
    id: {
      type: String,
    },
    title: {
      type: String,
    },
    editable: {
      type: Boolean,
      default: false,
    },
    author: {
      type: String,
    },
    likes: {
      type: Array,
      default: () => [],
    },
    isLiked: {
      type: Boolean,
      default: false,
    },
    createdAt: {
      type: String,
    },
  },
  computed: {
    createdDateFormatted() {
      return format(new Date(this.createdAt), 'dd/MM/yyyy');
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  display: flex;
  flex-direction: column;

  .text {
    flex-grow: 1;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .thumb-up {
      display: flex;
      align-items: baseline;
    }
  }
}
</style>
