<template>
  <v-card>
    <v-card-title>Proposal</v-card-title>
    <v-card-text>
      <v-form v-model="valid" ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Title"
                v-model="value.title"
                :rules="titleRules"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                label="Description"
                v-model="value.description"
                :rules="descriptionRules"
                required
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="$emit('close')">
        Close
      </v-btn>
      <v-btn color="blue darken-1" text @click="onSave">
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
    },
  },
  data() {
    return {
      valid: true,
      titleRules: [v => !!v || 'Title is required'],
      descriptionRules: [v => !!v || 'Description is required'],
    };
  },
  methods: {
    onSave() {
      this.$refs.form.validate();
      if (this.valid) {
        this.$emit('input', this.value);
      }
    },
  },
};
</script>

<style></style>
